<h2>{{model.type}}</h2>

{{#each model.listings as |listing|}}
  <div class="well">
    <h3>{{listing.owner}}</h3>
    <p>{{listing.text}}</p>
    <p><img src={{listing.image}}></p>
    <p>Posted on: {{format-date listing.date_added}}</p>
    {{update-listing listing=listing updateListing="updateListing"}}
    <button {{action 'deleteListing' listing}} class="btn btn-xs btn-default">Delete</button>
  </div>
{{/each}}

{{new-listing saveListing="saveListing" category=model}}
